In [62]:
x=x+1
x

10

In [23]:
import pandas as pd
import numpy as np

students=['Alice','Bob', 'Fareed']

students

['Alice', 'Bob', 'Fareed']

In [3]:
pd.Series(students)

0     Alice
1       Bob
2    Fareed
dtype: object

In [4]:
pd.Series(students)

0     Alice
1       Bob
2    Fareed
dtype: object

In [5]:
pd.Series(students)

0     Alice
1       Bob
2    Fareed
dtype: object

In [6]:
st=['A','B', None]

st

['A', 'B', None]

In [7]:
pd.Series(st)

0       A
1       B
2    None
dtype: object

In [9]:
pd.notnull(st)

array([ True,  True, False])

In [10]:
obj = pd.Series([4, 7, -5, 3])

In [11]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [12]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [13]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [15]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [16]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [17]:
obj2[2]

-5

In [18]:
obj2['d'] = 6

In [19]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [20]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [21]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [24]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [25]:
'b' in obj2

True

In [26]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [34]:
import pandas as pd
import numpy as np

df=pd.read_csv("advertising.csv")

df.head(2)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4

In [35]:
import numpy as np

a = np.arange(8)

In [43]:
b = a[4:6]

In [44]:
b[:] = 40
c = a[4] + a[6]

In [45]:
print(c)

46

In [46]:
def example_word_count():
    # This example question requires counting words in the example_string below.
    example_string = "Amy is 5 years old"
    
    # YOUR CODE HERE.
    # You should write your solution here, and return your result, you can comment out or delete the
    # NotImplementedError below.
    result = example_string.split(" ")
    return len(result)

    #raise NotImplementedError()

In [47]:
example_word_count()

5

In [49]:
import re
def names():
    simple_string = """Amy is 5 years old, and her sister Mary is 2 years old. 
    Ruth and Peter, their parents, have 3 kids."""
    pattern='[A-Z][a-z]*'
    result=re.findall(pattern,simple_string)
    return result
    raise NotImplementedError()

In [50]:
assert len(names()) == 4, "There are four names in the simple_string

SyntaxError: EOL while scanning string literal (<ipython-input-50-f1341dcf1f12>, line 1)

In [57]:
x=x+1

In [59]:
x+=5

In [60]:
x

8